---
    import Php from "../components/_php.astro";
    import Head from "../components/_head.astro";
    import Topbar from "../components/_topbar.astro";
    import Sidebar from "../components/_sidebar.astro";
    import Footer from "../components/_footer.astro";
---
<!doctype html>
<html lang="en-AU">

<Php />

    <!-- ============================== Begin::Head ================================= -->
    <Head />
    </head>
    <!-- ============================== End::Head =============================== -->
    <!-- -->
    <!-- ============================== Begin::Main Page =============================== -->
    <body class="home page content-sidebar landing-page" data-elementor-device-mode="desktop">
        <!-- ============================== Begin::site-container =============================== -->
        <div class="site-container">
            <Topbar />
            <!-- ============================== Begin::Main Body =============================== -->
            <div class="site-inner">
                <div class="content-sidebar-wrap">
                    <!-- ============================== Begin::Body =============================== -->
                    <main class="content">
                        <article class="post-19 page type-page status-publish wpautop entry" aria-label="">
                            <!-- ============================== Begin::Article-Header =============================== -->
                            <header class="entry-header">
                                <h1 class="entry-title">PlaceHolder</h1>
                            </header>
                            <!-- ============================== End::Article-Header =============================== -->
                            <!-- -->
                            <!-- ============================== Begin::Article-Content =============================== -->
                            <div class="entry-content">
                                <div data-elementor-type="wp-page" data-elementor-id="19" class="elementor elementor-19">
                                    <section class="elementor-section elementor-top-section elementor-element elementor-element-1eb2b4e1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id='' data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7fde7fc0" data-id='' data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7fde7fc0" data-id='' data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7fde7fc0" data-id='' data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7fde7fc0" data-id='' data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="elementor-section elementor-top-section elementor-element elementor-element-1eb2b4e1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id='' data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7fde7fc0" data-id='' data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7fde7fc0" data-id='' data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7fde7fc0" data-id='' data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7fde7fc0" data-id='' data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7d760915 elementor-widget elementor-widget-text-editor" data-id='' data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                        <div class="elementor-widget-container">
                                                            <p>Placeholder</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="elementor-section elementor-top-section elementor-element elementor-element-550ba98 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id='' data-element_type="section">
                                        <div class=container_16>
                                            <div class="box-4 grid_8 maxheight box_inner">
                                                <div>
                                                    <a href="/folder/Placeholder">Placeholder</a>
                                                    <figure>
                                                        <img style="height:172px" src="../data/images/prod/IDA002-x128.webp" alt="">
                                                    </figure>
                                                    <div>
                                                        <p class="pp">Placeholder</p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="/folder/Placeholder">Placeholder</a>
                                                    <figure>
                                                        <img style="height:172px" src="../data/images/prod/IDA002-x128.webp" alt="">
                                                    </figure>
                                                    <div>
                                                        <p class="pp">Placeholder</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-4 grid_8 maxheight box_inner">
                                                <div>
                                                    <a href="/folder/Placeholder">Placeholder</a>
                                                    <figure>
                                                        <img style="height:172px" src="../data/images/prod/IDA002-x128.webp" alt="">
                                                    </figure>
                                                    <div>
                                                        <p class="pp">Placeholder</p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="/folder/Placeholder">Placeholder</a>
                                                    <figure>
                                                        <img style="height:172px" src="../data/images/prod/IDA002-x128.webp" alt="">
                                                    </figure>
                                                    <div>
                                                        <p class="pp">Placeholder</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=container_16>
                                            <div class="box-4 grid_8 maxheight box_inner">
                                                <div>
                                                    <a href="/folder/Placeholder">Placeholder</a>
                                                    <figure>
                                                        <img style="height:172px" src="../data/images/prod/IDA002-x128.webp" alt="">
                                                    </figure>
                                                    <div>
                                                        <p class="pp">Placeholder</p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="/folder/Placeholder">Placeholder</a>
                                                    <figure>
                                                        <img style="height:172px" src="../data/images/prod/IDA002-x128.webp" alt="">
                                                    </figure>
                                                    <div>
                                                        <p class="pp">Placeholder</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-4 grid_8 maxheight box_inner">
                                                <div>
                                                    <a href="/folder/Placeholder">Placeholder</a>
                                                    <figure>
                                                        <img style="height:172px" src="../data/images/prod/IDA002-x128.webp" alt="">
                                                    </figure>
                                                    <div>
                                                        <p class="pp">Placeholder</p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="/folder/Placeholder">Placeholder</a>
                                                    <figure>
                                                        <img style="height:172px" src="../data/images/prod/IDA002-x128.webp" alt="">
                                                    </figure>
                                                    <div>
                                                        <p class="pp">Placeholder</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <!-- ============================== End::Article-Content =============================== -->
                        </article>
                    </main>
                    <!-- ============================== End::Body =============================== -->
                    <!-- -->
                    <!-- ============================== Begin::Side-Bar =============================== --> 
                    <Sidebar />
                    <!-- ============================== End::Side-Bar =============================== -->
                </div>
            </div>
            <!-- ============================== End::Main-Body =============================== -->
            <!-- -->
            <!-- ============================== Begin::Footer =============================== -->
            <Footer />
            <!-- ============================== End::Footer =============================== -->
        </div>
        <!-- ============================== End::site-container =============================== -->
    </body>
    <!-- ============================== End::Main-Page =============================== -->
</html>
