
                    <aside class='sidebar sidebar-primary widget-area' role='complementary' aria-label=''>
                        <!-- -->
                        <!-- -->
                        <!-- ============================== placeholder ================================= -->
                        <section id='custom_html-4' class='widget_text widget widget_custom_html'>
                            <div class='widget_text widget-wrap'>
                                <div class='textwidget custom-html-widget'>
                                    <a name='placeholder1'></a>
                                    <div class='free-quote'>
                                        <div class='header'>
                                            <h4 class='text-white'>placeholder</h4>
                                            <p class='text-center'>
                                                <br>
                                                <br>
                                            </p>
                                        </div>
                                        <div class='body'>
                                            <div class='border-1 header-border'></div>
                                            <p class='privacy text-center'>
                                                placeholder placeholder placeholder placeholder.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- ============================== End::placeholder ================================= -->
                        <!-- -->
                        <!-- ============================== placeholder ================================= -->
                        <section id='text-16' class='widget widget_text'>
                            <div class='widget-wrap'>
                                <div class='textwidget'>
                                    <a name='placeholder2'></a>
                                    <div class='white-box'>
                                        <h5 class='text-blue'>placeholder placeholder placeholder</h5>
                                        <ul class='no-style inline-image'>
                                            <div class='box_inner'>
                                                <figure class='figure-img'>
                                                    <img src='/data/images/prod/IDA001-x64.webp' alt='placeholder' style='height: 90px; width: 90px;'>
                                                </figure>
                                                <div class='extra-wrap'>
                                                    <span class='text2'>placeholder placeholder placeholder </span>
                                                    <p>placeholder placeholder placeholder placeholder placeholder</p>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- ============================== End::placeholder placeholder placeholder ================================= -->
                        <!-- -->
                        <!-- ============================== placeholder ================================= -->
                        <section id='text-10' class='widget widget_text'>
                            <div class='widget-wrap'>
                                <div class='textwidget'>
                                    <a name='placeholder'></a>
                                    <div class='white-box'>
                                        <h5 class='text-blue'>placeholder</h5>
                                        <aside class='grid_4 marg-1'>
                                            <ul class='list' style='margin-left: -25px'>
                                                <li>
                                                    <span class='icon'>
                                                        <i style='margin-right: 25px'>
                                                            <img class='ico' src='/data/images/prod/IDA001-x50.webp' data-src=''>
                                                        </i>
                                                    </span>
                                                    <a href='placeholder'>placeholder</a>
                                                </li>
                                                <li>
                                                    <span class='icon'>
                                                        <i style='margin-right: 25px'>
                                                            <img class='ico' src='/data/images/prod/IDA001-x50.webp' data-src=''>
                                                        </i>
                                                    </span>
                                                    <a href='placeholder'>placeholder</a>
                                                </li>
                                                <li>
                                                    <span class='icon'>
                                                        <i style='margin-right: 25px'>
                                                            <img class='ico' src='/data/images/prod/IDA001-x50.webp' data-src=''>
                                                        </i>
                                                    </span>
                                                    <a href='placeholder'>placeholder</a>
                                                </li>
                                                <li>
                                                    <span class='icon'>
                                                        <i style='margin-right: 25px'>
                                                            <img class='ico' src='/data/images/prod/IDA001-x50.webp' data-src=''>
                                                        </i>
                                                    </span>
                                                    <a href='placeholder'>placeholder</a>
                                                </li>
                                                <li>
                                                    <span class='icon'>
                                                        <i style='margin-right: 25px'>
                                                            <img class='ico' src='/data/images/prod/IDA001-x50.webp' data-src=''>
                                                        </i>
                                                    </span>
                                                    <a href='placeholder'>placeholder</a>
                                                </li>
                                                <li>
                                                    <span class='icon'>
                                                        <i style='margin-right: 25px'>
                                                            <img class='ico' src='/data/images/prod/IDA001-x50.webp' data-src=''>
                                                        </i>
                                                    </span>
                                                    <a href='placeholder'>placeholder</a>
                                                </li>
                                                <li>
                                                    <span class='icon'>
                                                        <i style='margin-right: 25px'>
                                                            <img class='ico' src='/data/images/prod/IDA001-x50.webp' data-src=''>
                                                        </i>
                                                    </span>
                                                    <a href='placeholder'>placeholder</a>
                                                </li>
                                            </ul>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- ============================== End::placeholder ================================= -->
                        <!-- -->
                        <!-- ============================== Begin::placeholder ================================= -->
                        <section id='text-8' class='widget widget_text'>
                            <div class='widget-wrap'>
                                <div class='textwidget'>
                                    <a name='placeholder3'></a>
                                    <div class='white-box'>
                                        <h5 class='text-blue'>placeholder</h5>
                                        <ul class='no-style inline-image'>        
                                            <h3>placeholder</h3>
                                            <span class='text6'>placeholder placeholder placeholder placeholder placeholder placeholder </span>
                                            <p>placeholder placeholder placeholder placeholder placeholder placeholder placeholder  <br>placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder </p>
                                            <p>
                                                <span class='text9'> placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder </span>
                                                <br> placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder .
                                            </p>
                                            <div class='clearfix'></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- ============================== Emd::placeholder ================================= -->
                        <!-- -->
                        <!-- ============================== Begin::Placeholder ================================= -->
                        <section id='text-9' class='widget widget_text'>
                            <div class='widget-wrap'>
                                <div class='textwidget'>                                    
                                    <a name='LICENSES'></a>
                                    <div class='licenses white-box'>
                                        <h5 class='text-blue'>placeholder</h5>
                                        <p class='text-center text-arial'>
                                            <strong>placeholder</strong>
                                            <br>
                                            <strong>placeholder</strong>
                                            <br>
                                            <strong>placeholder</strong>
                                            <br>
                                            placeholder
                                        </p>
                                        <p class='text-center'>
                                            <a href='#' target='_blank' rel='noopener'>
                                                <img data-lazyloaded='1' src='/data/images/prod/IDA001-x64.webp' style='height: 86px; width: 231px;'>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- ============================== Emd::placeholder ================================= -->
                        <!-- -->
                        <!-- ============================== Begin::Placeholder ================================= -->
                        <!--
                        <section id='text-11' class='widget widget_text'>
                            <div class='widget-wrap'>
                                <div class='textwidget'>                                    
                                    <a name='placeholders'></a>
                                    <div class='lets-be-friends white-box'>
                                        <h5 class='text-blue'>placeholder’s</h5>
                                        <ul class='no-style inline-image'>
                                            <li>
                                                <a href='https://www.example.com/Placeholder/'>
                                                    <img data-lazyloaded='1' src='/data/images/prod/IDA001-x64.webp' alt='Placeholder' style='width: 60px; height: 60px'>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='https://www.example.com/company/Placeholder'>
                                                    <img data-lazyloaded='1' src='/data/images/prod/IDA001-x64.webp' alt='Placeholder' style='width: 60px; height: 60px'>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='https://www.example.com/Placeholder/'>
                                                    <img data-lazyloaded='1' src='/data/images/prod/IDA001-x64.webp' alt='Placeholder' style='width: 60px; height: 60px'>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='https://www.example.com.au/'>
                                                    <img data-lazyloaded='1' src='/data/images/prod/IDA001-x64.webp' alt='Placeholder' style='width: 60px; height: 60px'>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        -->
                        <!-- ============================== Emd::placeholder ================================= -->
                        <!-- -->
                        <?php
                            include(includeDataSrc('sidebar.php'));
                        ?>
                        <!-- -->
                        <!-- ============================== Begin::Placeholder ================================= -->
                        <?php if (isset($_SESSION['loggedin'])) {
                        echo "
                        <section id='text-16' class='widget widget_text'>
                            <div class='widget-wrap'>
                                <div class='textwidget'>                                    
                                <a name='placeholder5'></a>
                                    <div class='leave-review white-box text-center'>
                                        <h5 class='text-blue'>placeholder placeholder placeholder</h5>
                                        <ul class='no-style inline-image'>
                                            <li></li>
                                            <li>
                                                <a></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- -->
                        <?php endif; ?>
                        <!-- -->"; } ?>
                    </aside>
